{% extends 'main.html'%}
{% block content %}
<div class = "container mx-auto">
    <div class = "row">
        <div class = "col-12 my-3">
            <h1 class = "text-center">Doctors:</h1>
            <div class = "container-fluid my-5">
                <div class = "row mx-auto">
                    {% for doctor in doctors %}
                        <div class="card col-4 my-3 mx-5" style="width: 18rem;">
                            <img src="{{doctor.profile_picture.url}}" class="card-img-top img-fluid my-2" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-3">@{{doctor.username}}</h5>
                                
                                <a href="{% url 'book-appointment' doctor.username%}" class="btn btn-primary">Book Appointment</a>
                            </div>
                        </div>   
                    {% endfor %} 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}